@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /********* Colors *********/
    --body-color: #e4e9f7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /********* Transition *********/
    --tran-02: all .2s ease;
    --tran-03: all .3s ease;
    --tran-04: all .4s ease;
    --tran-05: all .5s ease;
}

body {
    height: 100%;
    background: var(--body-color);
    transition: var(--tran-05);
}

/********* Dark mode *********/
body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/********* Main content setting *********/

.admin-main {
    position: relative;
    height: 100%;
    padding: 20px 35px;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-02);
}

.admin-sidebar.close ~ .admin-main {
    left: 88px;
    width: calc(100% - 88px);
}
